/* reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
/* Content */
:root {
  /* Primary */

  /* main background */
  --Very-dark-blue: hsl(233, 47%, 7%);
  /* card background */
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  /* accent */
  --Soft-violet: hsl(277, 64%, 61%);

  /* Neutral */

  /* main heading, stats */
  --white: hsl(0, 0%, 100%);
  /* main paragraph */
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  /* stat headings */
  --slightly-transparent-white-h: hsla(0, 0%, 100%, 0.6);

  /* fonts */
  --ff-inter: inter, san-serif;
  --ff-lexend-deca: "Lexend Deca", san-serif;
  --reg: 400;
  --bold: 700;

  --h: 430px;
  --w: 530px;
}

body {
  font-size: 15px;
  background: var(--Very-dark-blue);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

footer {
  height: var(--h);
  width: var(--w);
  position: relative;
}

img {
  max-height: 100%;
  max-width: 100%;
}

/************* Content Left *************/
.info {
  height: var(--h);
  width: var(--w);
  background-color: var(--Dark-desaturated-blue);
  color: var(--Slightly-transparent-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Fonts classes */
.font-inter {
  font-family: var(--ff-inter), Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-lexend {
  font-family: var(--ff-lexend-deca), Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Fonts classes end */

.heading {
  color: var(--white);
  font-size: 2em;
  width: 70%;
}

.highlight {
  color: var(--Soft-violet);
}

.info-p {
  width: 70%;
  margin-top: 25px;
}

.stat-heading {
  color: var(--white);
}

.stat-info {
  color: var(--Slightly-transparent-white);
}

.stat-top {
  display: flex;
  padding: 20px auto;
  margin-top: 60px;
}

.stat-top h2 {
  margin: auto 60px;
}

.stat-bottom {
  display: flex;
}

.stat-bottom p {
  margin: 0 auto 15px;
}

/************* Photo Right ****************/
.img {
  background-color: var(--Soft-violet);
}

.img img {
  opacity: 0.3;
}

.main-img {
  height: var(--h);
  width: var(--w);
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
